body{
    border: 2px solid sandybrown;
    width: 75%;
    height: 1200px;
}


section:nth-child(1)>div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rebeccapurple;
    position: relative;
    text-align: end;
    
    right: 93%;
    top: 10px;  

}
section:nth-child(2)>div{
    position: relative;
    left: 81.7%;
    bottom: 5px;

}
section:nth-child(3)>div{
    color: rgb(126, 77, 17);
    border: 2px solid black;
    margin-left: 1%;
    width: 97.5%;
    height: 30px;
    background-color: bisque;
}

section:nth-child(4)>article{
    border: 2px solid black;
    margin: 15px;
    width: 15%  ;
    height: 500px;
}

section:nth-child(5)>article{
    border: 2px solid black;
    margin: 15px;   
    width: 15%  ;
    height: 500px;
}

main{
    width: 65%;
    height: 1000px;
    margin-left: 17.5%;
    position: relative;
    bottom: 1038px;

}
.lineas{
    line-height: 1.5;
}

#parrafo1{
   
    position: relative;
    bottom: 320px;
    margin-left: 18%;
    width: 75%;
    height: 300px;
    

}
img{
    margin-left: 2%;
}
#parrafo2{
    position: relative;
    bottom: 550px;
    margin-left: 17%;
    width: 75%;
    height: 400px;
    float:left;
    

}
#imag{
    position: relative;
    bottom: 300px;
}

main:nth-child(2)>section{
    position: relative;
    bottom: 1000px;
}

#texto1{
    position: relative;
    bottom: 300px;
    margin-left: 2%;
}
section:nth-child(7)>article:nth-child(1){
    border: 2px solid salmon;
    width: 200px;
    height: 750px;
    margin-left: 84%;
    position: relative;
    bottom: 2043px;

}
.rojos{
    background-color: brown;
    width: 96%;
    text-align: center;
    margin-left: 2%;

}

nav{
    position: relative;
    bottom: 1753px;
    background-color: bisque;
    height: 40px;
    padding: 7px;
    text-align: left;
}
footer{
    position: relative;
    bottom: 1784px;
    margin-left: 80%;
}